:root {
    --primary: black;
    --secondary: white;
    --terciary: silver;

}
@font-face {
    font-family: 'primeiraFonte';
    src: url(fontes/Righteous-Regular.ttf) format('truetype');
}

  

.dark-mode {
    --primary: white;
    --secondary: black;
    --terciary: darkgray;

}

.natal-mode{
    --primary: green;
    --secondary: silver;
    --terciary: black;
} 

.tremor-link {
    display: inline-block;
}

.tremor-link:hover {
    animation: tremor 0.2s;
}

@keyframes tremor {
    0% { transform: translate(1px, 0); }
    20% { transform: translate(-1px, 0); }
    40% { transform: translate(1px, 0); }
    60% { transform: translate(-1px, 0); }
    80% { transform: translate(1px, 0); }
    100% { transform: translate(0, 0); }
}



.fonte-cabecalho {
    font-family: 'primeiraFonte', sans-serif;

}

.fonte {
    font-family: 'primeiraFonte', sans-serif;

}   

a.artigo {
    text-decoration: none;
}

a.artigo h1 {
    text-decoration: underline;
}

nav>div>input[type$="search"] {
    color: red !important;
}

.flex-header {
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    justify-content: flex-start;
    border-radius: 0px;
    flex-direction: column;
}

.lado-lado {
    display: flex;
}

.container-texto-conteudo {
    padding-right: 1rem;
    padding-left: 1rem;
}

.border {
    border: 5px black solid;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.cabecalho-grid {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-nav {
    display: grid;
    border-radius: 0;
}

.grid-texto {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-footer {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
}

.alinhamento-de-texto{
    border: solid 5px;
    border: 10px var(--terciary) solid;
    text-align-last: center;
    color: var(--primary);
}



.secao-1 {
    background-color: #f9f9f9;
}

.secao-2 {
    background-color: #e7e7e7;
}




.ajuste-footer{
    border: solid 5px;
    border: 10px var(--terciary) solid;
    color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--primary);
    position: relative;
}

a::after {
    content: "";
    display: block;
    height: 2px;
    background: transparent;
    transition: background 0.3s;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -5px;
}




a:hover::after {
    background: darkgreen;
}

a:hover {
    color: darkgreen;
}


.artigo {
    margin: 5px;
    padding: 10px;
    border: 10px var(--terciary) solid;
    display: flex;
    height: min-content;
}

.artigo-texto-container {
    width: 70;
}
img {
    width: 80%;
    height: auto;
}
.carrossel.imagem-container{
    width: 100%;
    max-width: none;
    display: flex;
    flex-wrap: unset;
    justify-content: space-around;
}
.carrossel.imagem-container img{
    max-width: 49%;
    height: auto;
}
@media (max-width: 300px) {
    .artigo-texto-container {
        width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .artigo {
        margin: 5px;
        padding: 10px;
        border: 10px var(--terciary) solid;
        display: flex;
        height: min-content;
        flex-direction: column;
    }
    .cabecalho {
        font-size: 30px;
    }
    .artigo-imagem-container{
        width: 100%;
    }
    .nav-vertical{
        display: flex !important;
        flex-direction: column-reverse;
        align-items: flex-start;
        width: fit-content;
    }
    .nav-horizontal{
        display: none;
    }
}

@media (max-width: 400px) {
    img {
        width: 50%;
    }
    .carrossel.imagem-container{
        max-width: min-content;
        display: block;
    }
    .carrossel.imagem-container img{
        max-width: 49%;
        height: auto;
        min-width: 20rem;
    }
}


.artigo-imagem-container h1{
    width: 30%;
}

.artigo-imagem-container>img {
    width: 100%;
}

body {
    background-color: var(--secondary);

}

.texto {
    color: var(--primary);
    text-align: center;
}

.cabecalho {
    color: var(--primary);
    display: inline-block;
}

.imagem {
    border: solid 5px;
    border-color: var(--terciary);
}


.imagem-container {
    border-radius: 10px;
    border: solid 5px;
    border-color: dimgray;
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;
}
.flex-row{
    display: flex;
}
.flex-right{
    display: flex;
    justify-content: flex-end;
    
}

#barraProcura {
    color: var(--primary);
    background-color: var(--secondary);
    border: solid 4px var(--terciary);
    border-radius: 10px 0px 0px 10px;

}

#barraProcura:focus {
    box-shadow: 2px 2px 7px var(--primary);
}

.btn {
    border-radius: 0px 10px 10px 0px;
    background-color: var(--terciary);
    color: var(--primary);
    cursor: pointer;
}

.btn:hover {
    box-shadow: 2px 2px 7px var(--primary);

}

.imagem-curvada {
    border-radius: 15px;
}

.imagem-reta {
    border-radius: 0px;
}
.nav-vertical{
    display: none;
}

nav {
    background-color: var(--secondary);
    border-radius: 7px;
    border: solid 6px;
    border-color: var(--terciary);
    padding: 3px;
    display: flex;
    justify-content: space-between;
}

.link {
    color: var(--primary);
    background-color: var(--terciary);
    font-weight: 900;

}

nav .link {
    border-radius: 5px;
    margin-left: 3px;
    padding: 2px;
}